<?xml version="1.0"?>
<config>
    <modules>
        <Potoky_AnonymousCustomer>
            <version>0.1.0</version>
        </Potoky_AnonymousCustomer>
    </modules>
    <default>
        <anonymous>
            <cascade_delete>
                <when>1</when>
            </cascade_delete>
        </anonymous>
    </default>
    <global>
        <models>
            <anonymouscustomer>
                <class>Potoky_AnonymousCustomer_Model</class>
                <resourceModel>anonymouscustomer_mysql4</resourceModel>
            </anonymouscustomer>
            <anonymouscustomer_mysql4>
                <class>Potoky_AnonymousCustomer_Model_Mysql4</class>
                <entities>
                    <anonymous>
                        <table>anonymous_customer</table>
                    </anonymous>
                </entities>
            </anonymouscustomer_mysql4>
        </models>
        <helpers>
            <anonymouscustomer>
                <class>Potoky_AnonymousCustomer_Helper</class>
            </anonymouscustomer>
        </helpers>
        <resources>
            <anonymouscustomer_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </anonymouscustomer_write>
            <anonymouscustomer_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </anonymouscustomer_read>
            <anonymouscustomer_setup>
                <setup>
                    <module>Potoky_AnonymousCustomer</module>
                    <class>Potoky_AnonymousCustomer_Model_Resource_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </anonymouscustomer_setup>
        </resources>
        <events>
            <customer_save_after>
                <observers>
                    <regularcustomer_create>
                        <class>Potoky_AnonymousCustomer_Model_Observer</class>
                        <method>regularCustomerCreated</method>
                    </regularcustomer_create>
                </observers>
            </customer_save_after>
            <customer_delete_after>
                <observers>
                    <regularcustomer_delete>
                        <class>Potoky_AnonymousCustomer_Model_Observer</class>
                        <method>regularCustomerDeleted</method>
                    </regularcustomer_delete>
                </observers>
            </customer_delete_after>
        </events>
    </global>
</config>