<?xml version="1.0"?>
<config>
    <modules>
        <Potoky_ImageAutoImport>
            <version>0.1.0</version>
        </Potoky_ImageAutoImport>
    </modules>
    <global>
        <blocks>
            <imageautoimport>
                <class>Potoky_ImageAutoImport_Block</class>
            </imageautoimport>
            <adminhtml>
                <rewrite>
                    <catalog_product_edit_tabs>Potoky_ImageAutoImport_Block_Adminhtml_Tabs</catalog_product_edit_tabs>
                </rewrite>
            </adminhtml>
        </blocks>
        <models>
            <imageautoimport>
                <class>Potoky_ImageAutoImport_Model</class>
                <resourceModel>imageautoimport_mysql4</resourceModel>
            </imageautoimport>
            <imageautoimport_mysql4>
                <class>Potoky_ImageAutoImport_Model_Mysql4</class>
                <entities>
                    <imageinfo>
                        <table>images_info</table>
                    </imageinfo>
                </entities>
            </imageautoimport_mysql4>
        </models>
        <helpers>
            <imageautoimport>
                <class>Potoky_ImageAutoImport_Helper</class>
            </imageautoimport>
        </helpers>
        <resources>
            <imageautoimport_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </imageautoimport_write>
            <imageautoimport_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </imageautoimport_read>
            <imageautoimport_setup>
                <setup>
                    <module>Potoky_ImageAutoImport</module>
                    <class>Potoky_ImageAutoImport_Model_Resource_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </imageautoimport_setup>
        </resources>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <potoky_imageautoimport>
                    <file>imageautoimport.xml</file>
                </potoky_imageautoimport>
            </updates>
        </layout>
        <translate>
            <modules>
                <Potoky_ImageAutoImport>
                    <files>
                        <default>Potoky_ImageAutoImport.csv</default>
                    </files>
                </Potoky_ImageAutoImport>
            </modules>
        </translate>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <potoky_imageautoimport before="Mage_Adminhtml">Potoky_ImageAutoImport_Adminhtml</potoky_imageautoimport>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <crontab>
       <jobs>
           <potoky_imageautoimport_go>
               <schedule><cron_expr>*/1 * * * *</cron_expr></schedule>
               <run>
                    <model>imageautoimport/observer::importImages</model>
              </run>
           </potoky_imageautoimport_go>
       </jobs>
    </crontab>
</config>