<?xml version="1.0"?>
<config>
    <modules>
        <Potoky_Surprise>
            <version>0.0.3</version>
        </Potoky_Surprise>
    </modules>
    <global>
        <events>
            <sales_order_place_after>
                <observers>
                    <potoky_surprise_sales_order_place_after>
                        <class>potoky_surprise/observer</class>
                        <method>orderWorkout</method>
                    </potoky_surprise_sales_order_place_after>
                </observers>
            </sales_order_place_after>
            <sales_order_invoice_pay>
                <observers>
                    <potoky_surprise_sales_order_invoice_pay>
                        <class>potoky_surprise/observer</class>
                        <method>orderIsPayed</method>
                    </potoky_surprise_sales_order_invoice_pay>
                </observers>
            </sales_order_invoice_pay>
            <cart_empty>
                <observers>
                    <potoky_surprise_cart_empty>
                        <class>potoky_surprise/observer</class>
                        <method>emptyCartWorkOut</method>
                    </potoky_surprise_cart_empty>
                </observers>
            </cart_empty>
        </events>
        <blocks>
            <potoky_surprise>
                <class>Potoky_Surprise_Block</class>
            </potoky_surprise>
            <adminhtml>
                <rewrite>
                    <catalog_product_edit_tabs>Potoky_Surprise_Block_Adminhtml_Catalog_Product_Edit_Tabs</catalog_product_edit_tabs>
                </rewrite>
            </adminhtml>
            <checkout>
                <rewrite>
                    <cart>Potoky_Surprise_Block_Checkout_Cart</cart>
                </rewrite>
            </checkout>
        </blocks>
        <models>
            <potoky_surprise>
                <class>Potoky_Surprise_Model</class>
                <resourceModel>potoky_surprise_resource</resourceModel>
            </potoky_surprise>
            <catalog>
                <rewrite>
                    <product>Potoky_Surprise_Model_Catalog_Product</product>
                    <product_link>Potoky_Surprise_Model_Catalog_Product_Link</product_link>
                </rewrite>
            </catalog>
            <checkout>
                <rewrite>
                    <cart>Potoky_Surprise_Model_Cart</cart>
                </rewrite>
            </checkout>
            <potoky_surprise_resource>
                <class>Potoky_Surprise_Model_Resource</class>
                <entities>
                    <surprise>
                        <table>potoky_surprise</table>
                    </surprise>
                    <surprise1>
                        <table>potoky_surprise1</table>
                    </surprise1>
                </entities>
            </potoky_surprise_resource>
        </models>
        <helpers>
            <potoky_surprise>
                <class>Potoky_Surprise_Helper</class>
            </potoky_surprise>
            <catalog>
                <rewrite>
                    <category>Potoky_Surprise_Helper_Catalog_Category</category>
                </rewrite>
            </catalog>
        </helpers>
        <resources>
            <potoky_surprise_setup>
                <setup>
                    <module>Potoky_Surprise</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </potoky_surprise_setup>
        </resources>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <potoky_surprise>
                    <file>potoky_surprise.xml</file>
                </potoky_surprise>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <routers>
            <potoky_surprise>
                <use>standard</use>
                <args>
                    <module>Potoky_Surprise</module>
                    <frontName>potoky_surprise</frontName>
                </args>
            </potoky_surprise>
            <checkout>
                <args>
                    <modules>
                        <potoky_surprise before="Mage_Checkout">Potoky_Surprise</potoky_surprise>
                    </modules>
                </args>
            </checkout>
        </routers>
        <layout>
            <updates>
                <potoky_surprise>
                    <file>potoky_surprise.xml</file>
                </potoky_surprise>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <potoky_surprise before="Mage_Adminhtml">Potoky_Surprise_Adminhtml</potoky_surprise>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>