<?xml version="1.0"?>
<config>
    <modules>
        <Potoky_ItemBanner>
            <version>0.1.0</version>
        </Potoky_ItemBanner>
    </modules>
    <default>
        <cms>
            <itembanner>
                <rendering_type>1</rendering_type>
                <grid_cropping_aspect_ratio>2.25</grid_cropping_aspect_ratio>
                <list_cropping_aspect_ratio>0.42</list_cropping_aspect_ratio>
            </itembanner>
        </cms>
    </default>
    <global>
        <blocks>
            <itembanner>
                <class>Potoky_ItemBanner_Block</class>
            </itembanner>
            <widget>
                <rewrite>
                    <adminhtml_widget_instance_edit_tab_properties>Potoky_ItemBanner_Block_Adminhtml_Widget_Instance_Edit_Tab_Properties</adminhtml_widget_instance_edit_tab_properties>
                </rewrite>
            </widget>
        </blocks>
        <helpers>
            <itembanner>
                <class>Potoky_ItemBanner_Helper</class>
            </itembanner>
        </helpers>
        <models>
            <itembanner>
                <class>Potoky_ItemBanner_Model</class>
                <resourceModel>itembanner_resource</resourceModel>
            </itembanner>
            <itembanner_resource>
                <class>Potoky_ItemBanner_Model_Resource</class>
                <entities>
                    <bannerinfo>
                        <table>banner_info</table>
                    </bannerinfo>
                </entities>
            </itembanner_resource>
            <catalog_resource>
                <rewrite>
                    <product_collection>Potoky_ItemBanner_Model_Resource_Product_Collection</product_collection>
                </rewrite>
            </catalog_resource>
            <catalogsearch_resource>
                <rewrite>
                    <fulltext_collection>Potoky_ItemBanner_Model_Resource_Fulltext_Collection</fulltext_collection>
                    <advanced_collection>Potoky_ItemBanner_Model_Resource_Advanced_Collection</advanced_collection>
                </rewrite>
            </catalogsearch_resource>
            <widget_resource>
                <rewrite>
                    <widget_instance>Potoky_ItemBanner_Model_Resource_Widget_Instance</widget_instance>
                </rewrite>
            </widget_resource>
        </models>
        <resources>
            <itembanner_setup>
                <setup>
                    <module>Potoky_ItemBanner</module>
                </setup>
            </itembanner_setup>
        </resources>
        <events>
            <widget_widget_instance_save_before>
                <observers>
                    <additional_before_save_actions>
                        <type>singleton</type>
                        <class>Potoky_ItemBanner_Model_Observer</class>
                        <method>addSearchHandles</method>
                    </additional_before_save_actions>
                </observers>
            </widget_widget_instance_save_before>
        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <itembanner before="Mage_Widget">Potoky_ItemBanner_Adminhtml</itembanner>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <itembanner>
                    <file>itembanner.xml</file>
                </itembanner>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <events>
            <controller_action_layout_generate_blocks_after>
                <observers>
                    <template_only_to_active>
                        <type>singleton</type>
                        <class>Potoky_ItemBanner_Model_Observer</class>
                        <method>prepareDisplayBanners</method>
                    </template_only_to_active>
                </observers>
            </controller_action_layout_generate_blocks_after>
        </events>
        <routers>
            <itembanner>
                <use>standard</use>d
                <args>
                    <module>Potoky_ItemBanner</module>
                    <frontName>itembanner</frontName>
                </args>
            </itembanner>
        </routers>
    </frontend>
</config>